html,
body{
    height:100% !important;
}

#title{
	letter-spacing: 3px;
	word-spacing: 10px;
	font-size: 40px;
	font-weight: bold;
}

td,th{
	padding-right: 20px !important;
	padding-left: 20px !important;
}

/*td{
  border-right-style:none !important;
  border-left-style:none !important;
}*/
