<div class="container">
	<div class="row">
		<div class="col-lg-2">
			<button id="blackEaten" type="button" class="btn btn-primary backgammon-col--1">Eaten of black</button>
		</div>
		<div class="col-lg-2"></div>
		<div class="col-lg-2">
			<p id="txtFromServer" class="bg-primary"></p>
		</div>
		<div class="col-lg-2">
			<button id="rollDicesBtn" type="button" class="btn btn-success hidden">Roll dices</button>
		</div>
		<div class="col-lg-2"></div>
		<div class="col-lg-2">
			<button id="blackOut" type="button" class="btn btn-primary backgammon-col-24">Outs of black</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<table class="table board">

			<tr class="board-edge-black"><td colspan="15">test</td></tr>

			<tr>
				<td class="board-edge-brown">e</td>
				<td class="text-center backgammon-col-12 bottom-col-backgammon">W</td>
				<td class="text-center empty-cell backgammon-col-13 bottom-col-backgammon">e</td>
				<td class="text-center empty-cell backgammon-col-14 bottom-col-backgammon">e</td>
				<td class="text-center empty-cell backgammon-col-15 bottom-col-backgammon">e</td>
				<td class="text-center backgammon-col-16 bottom-col-backgammon">B</td>
				<td class="text-center empty-cell backgammon-col-17 bottom-col-backgammon">e</td>

				<td class="board-edge-brown">e</td>

				<td class="text-center backgammon-col-18 bottom-col-backgammon">B</td>
				<td class="text-center empty-cell backgammon-col-19 bottom-col-backgammon">e</td>
				<td class="text-center empty-cell backgammon-col-20 bottom-col-backgammon">e</td>
				<td class="text-center empty-cell backgammon-col-21 bottom-col-backgammon">e</td>
				<td class="text-center empty-cell backgammon-col-22 bottom-col-backgammon">e</td>
				<td class="text-center backgammon-col-23 bottom-col-backgammon">W</td>
				<td class="board-edge-brown">e</td>
			</tr>

			<tr>
				<td class="board-edge-brown">e</td>
				<td class="text-center backgammon-col-12">W</td>
				<td class="text-center empty-cell backgammon-col-13">e</td>
				<td class="text-center empty-cell backgammon-col-14">e</td>
				<td class="text-center empty-cell backgammon-col-15">e</td>
				<td class="text-center backgammon-col-16">B</td>
				<td class="text-center empty-cell backgammon-col-17">e</td>

				<td class="board-edge-brown">e</td>

				<td class="text-center backgammon-col-18">B</td>
				<td class="text-center empty-cell backgammon-col-19">e</td>
				<td class="text-center empty-cell backgammon-col-20">e</td>
				<td class="text-center empty-cell backgammon-col-21">e</td>
				<td class="text-center empty-cell backgammon-col-22">e</td>
				<td class="text-center backgammon-col-23">W</td>
				<td class="board-edge-brown">e</td>
			</tr>

			<tr>
				<td class="board-edge-brown">e</td>
				<td class="text-center backgammon-col-12">W</td>
				<td class="text-center empty-cell backgammon-col-13">e</td>
				<td class="text-center empty-cell backgammon-col-14">e</td>
				<td class="text-center empty-cell backgammon-col-15">e</td>
				<td class="text-center backgammon-col-16">B</td>
				<td class="text-center empty-cell backgammon-col-17">e</td>

				<td class="board-edge-brown">e</td>

				<td class="text-center backgammon-col-18">B</td>
				<td class="text-center empty-cell backgammon-col-19">e</td>
				<td class="text-center empty-cell backgammon-col-20">e</td>
				<td class="text-center empty-cell backgammon-col-21">e</td>
				<td class="text-center empty-cell backgammon-col-22">e</td>
				<td class="text-center empty-cell backgammon-col-23">e</td>
				<td class="board-edge-brown">e</td>
			</tr>

			<tr>
				<td class="board-edge-brown">e</td>
				<td class="text-center backgammon-col-12">W</td>
				<td class="text-center empty-cell backgammon-col-13">e</td>
				<td class="text-center empty-cell backgammon-col-14">e</td>
				<td class="text-center empty-cell backgammon-col-15">e</td>
				<td class="text-center empty-cell backgammon-col-16">e</td>
				<td class="text-center empty-cell backgammon-col-17">e</td>

				<td class="board-edge-brown">e</td>

				<td class="text-center backgammon-col-18">B</td>
				<td class="text-center empty-cell backgammon-col-19">e</td>
				<td class="text-center empty-cell backgammon-col-20">e</td>
				<td class="text-center empty-cell backgammon-col-21">e</td>
				<td class="text-center empty-cell backgammon-col-22">e</td>
				<td class="text-center empty-cell backgammon-col-23">e</td>
				<td class="board-edge-brown">e</td>
			</tr>

			<tr>
				<td class="board-edge-brown">e</td>
				<td class="text-center backgammon-col-12">W</td>
				<td class="text-center empty-cell backgammon-col-13">e</td>
				<td class="text-center empty-cell backgammon-col-14">e</td>
				<td class="text-center empty-cell backgammon-col-15">e</td>
				<td class="text-center empty-cell backgammon-col-16">e</td>
				<td class="text-center empty-cell backgammon-col-17">e</td>

				<td class="board-edge-brown">e</td>

				<td class="text-center backgammon-col-18">B</td>
				<td class="text-center empty-cell backgammon-col-19">e</td>
				<td class="text-center empty-cell backgammon-col-20">e</td>
				<td class="text-center empty-cell backgammon-col-21">e</td>
				<td class="text-center empty-cell backgammon-col-22">e</td>
				<td class="text-center empty-cell backgammon-col-23">e</td>
				<td class="board-edge-brown">e</td>
			</tr>

			<tr>
				<td class="board-edge-brown">e</td>
				<td class="text-center empty-cell middle-cell">e</td>
				<td class="text-center empty-cell middle-cell">e</td>
				<td class="text-center empty-cell middle-cell">e</td>
				<td class="text-center empty-cell middle-cell">e</td>
				<td class="text-center empty-cell middle-cell">e</td>
				<td class="text-center empty-cell middle-cell">e</td>

				<td class="board-edge-brown">e</td>

				<td class="text-center empty-cell middle-cell">e</td>
				<td class="text-center empty-cell middle-cell">e</td>
				<td class="text-center empty-cell middle-cell">e</td>
				<td class="text-center empty-cell middle-cell">e</td>
				<td class="text-center empty-cell middle-cell">e</td>
				<td class="text-center empty-cell middle-cell">e</td>
				<td class="board-edge-brown">e</td>
			</tr>

			<tr>
				<td class="board-edge-brown">e</td>
				<td class="text-center backgammon-col-11">B</td>
				<td class="text-center empty-cell backgammon-col-10">e</td>
				<td class="text-center empty-cell backgammon-col-9">e</td>
				<td class="text-center empty-cell backgammon-col-8">e</td>
				<td class="text-center empty-cell backgammon-col-7">e</td>
				<td class="text-center empty-cell backgammon-col-6">e</td>

				<td class="board-edge-brown">e</td>

				<td class="text-center backgammon-col-5">W</td>
				<td class="text-center empty-cell backgammon-col-4">e</td>
				<td class="text-center empty-cell backgammon-col-3">e</td>
				<td class="text-center empty-cell backgammon-col-2">e</td>
				<td class="text-center empty-cell backgammon-col-1">e</td>
				<td class="text-center empty-cell backgammon-col-0">e</td>
				<td class="board-edge-brown">e</td>
			</tr>

			<tr>
				<td class="board-edge-brown">e</td>
				<td class="text-center backgammon-col-11">B</td>
				<td class="text-center empty-cell backgammon-col-10">e</td>
				<td class="text-center empty-cell backgammon-col-9">e</td>
				<td class="text-center empty-cell backgammon-col-8">e</td>
				<td class="text-center empty-cell backgammon-col-7">e</td>
				<td class="text-center empty-cell backgammon-col-6">e</td>

				<td class="board-edge-brown">e</td>

				<td class="text-center backgammon-col-5">W</td>
				<td class="text-center empty-cell backgammon-col-4">e</td>
				<td class="text-center empty-cell backgammon-col-3">e</td>
				<td class="text-center empty-cell backgammon-col-2">e</td>
				<td class="text-center empty-cell backgammon-col-1">e</td>
				<td class="text-center empty-cell backgammon-col-0">e</td>
				<td class="board-edge-brown">e</td>
			</tr>

			<tr>
				<td class="board-edge-brown">e</td>
				<td class="text-center backgammon-col-11">B</td>
				<td class="text-center empty-cell backgammon-col-10">e</td>
				<td class="text-center empty-cell backgammon-col-9">e</td>
				<td class="text-center empty-cell backgammon-col-8">e</td>
				<td class="text-center backgammon-col-7">W</td>
				<td class="text-center empty-cell backgammon-col-6">e</td>

				<td class="board-edge-brown">e</td>

				<td class="text-center backgammon-col-5">W</td>
				<td class="text-center empty-cell backgammon-col-4">e</td>
				<td class="text-center empty-cell backgammon-col-3">e</td>
				<td class="text-center empty-cell backgammon-col-2">e</td>
				<td class="text-center empty-cell backgammon-col-1">e</td>
				<td class="text-center empty-cell backgammon-col-0">e</td>
				<td class="board-edge-brown">e</td>
			</tr>

			<tr>
				<td class="board-edge-brown">e</td>
				<td class="text-center backgammon-col-11">B</td>
				<td class="text-center empty-cell backgammon-col-10">e</td>
				<td class="text-center empty-cell backgammon-col-9">e</td>
				<td class="text-center empty-cell backgammon-col-8">e</td>
				<td class="text-center backgammon-col-7">W</td>
				<td class="text-center empty-cell backgammon-col-6">e</td>

				<td class="board-edge-brown">e</td>

				<td class="text-center backgammon-col-5">W</td>
				<td class="text-center empty-cell backgammon-col-4">e</td>
				<td class="text-center empty-cell backgammon-col-3">e</td>
				<td class="text-center empty-cell backgammon-col-2">e</td>
				<td class="text-center empty-cell backgammon-col-1">e</td>
				<td class="text-center backgammon-col-0">B</td>
				<td class="board-edge-brown">e</td>
			</tr>

			<tr>
				<td class="board-edge-brown bottom-col-backgammon">e</td>
				<td class="text-center backgammon-col-11 bottom-col-backgammon">B</td>
				<td class="text-center empty-cell backgammon-col-10 bottom-col-backgammon">e</td>
				<td class="text-center empty-cell backgammon-col-9 bottom-col-backgammon">e</td>
				<td class="text-center empty-cell backgammon-col-8 bottom-col-backgammon">e</td>
				<td class="text-center backgammon-col-7 bottom-col-backgammon">W</td>
				<td class="text-center empty-cell backgammon-col-6 bottom-col-backgammon">e</td>

				<td class="board-edge-brown">e</td>

				<td class="text-center backgammon-col-5 bottom-col-backgammon">W</td>
				<td class="text-center empty-cell backgammon-col-4 bottom-col-backgammon">e</td>
				<td class="text-center empty-cell backgammon-col-3 bottom-col-backgammon">e</td>
				<td class="text-center empty-cell backgammon-col-2 bottom-col-backgammon">e</td>
				<td class="text-center empty-cell backgammon-col-1 bottom-col-backgammon">e</td>
				<td class="text-center backgammon-col-0 bottom-col-backgammon">B</td>
				<td class="board-edge-brown">e</td>
			</tr>

			<tr class="board-edge-black"><td colspan="15">test</td></tr>
		</table>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-2">
			<button id="whiteEaten" type="button" class="btn btn-primary">Eaten of white</button>
		</div>
		<div class="col-lg-10"></div>
	</div>
</div>
