<div class="container">
	<h2>Backgammon Room #: {{roomName}}</h2>
	<div class="row">
		<div>&nbsp;</div>
	</div>
</div>

<table class="table board">

	<tr class="board-edge-black"><td colspan="15">test</td></tr>

	<tr>
		<td class="board-edge-brown">e</td>
		<td class="text-center backgammon-col-12 bottom-col-backgammon" ng-click="pawnSelect(12)">W</td>
		<td class="text-center empty-cell backgammon-col-13 bottom-col-backgammon" ng-click="pawnSelect(13)">e</td>
		<td class="text-center empty-cell backgammon-col-14 bottom-col-backgammon" ng-click="pawnSelect(14)">e</td>
		<td class="text-center empty-cell backgammon-col-15 bottom-col-backgammon" ng-click="pawnSelect(15)">e</td>
		<td class="text-center backgammon-col-16 bottom-col-backgammon" ng-click="pawnSelect(16)" style="border-width:0px;border-right:1px solid black;border-left:1px solid black;">B</td>
		<td class="text-center empty-cell backgammon-col-17 bottom-col-backgammon" ng-click="pawnSelect(17)">e</td>

		<td class="board-edge-brown">e</td>

		<td class="text-center backgammon-col-18 bottom-col-backgammon" ng-click="pawnSelect(18)">B</td>
		<td class="text-center empty-cell backgammon-col-19 bottom-col-backgammon" ng-click="pawnSelect(19)">e</td>
		<td class="text-center empty-cell backgammon-col-20 bottom-col-backgammon" ng-click="pawnSelect(20)">e</td>
		<td class="text-center empty-cell backgammon-col-21 bottom-col-backgammon" ng-click="pawnSelect(21)">e</td>
		<td class="text-center empty-cell backgammon-col-22 bottom-col-backgammon" ng-click="pawnSelect(22)">e</td>
		<td class="text-center backgammon-col-23 bottom-col-backgammon" ng-click="pawnSelect(23)">W</td>
		<td class="board-edge-brown">e</td>
	</tr>

	<tr>
		<td class="board-edge-brown">e</td>
		<td class="text-center backgammon-col-12" ng-click="pawnSelect(12)">W</td>
		<td class="text-center empty-cell backgammon-col-13" ng-click="pawnSelect(13)">e</td>
		<td class="text-center empty-cell backgammon-col-14" ng-click="pawnSelect(14)">e</td>
		<td class="text-center empty-cell backgammon-col-15" ng-click="pawnSelect(15)">e</td>
		<td class="text-center backgammon-col-16" ng-click="pawnSelect(16)">B</td>
		<td class="text-center empty-cell backgammon-col-17" ng-click="pawnSelect(17)">e</td>

		<td class="board-edge-brown">e</td>

		<td class="text-center backgammon-col-18" ng-click="pawnSelect(18)">B</td>
		<td class="text-center empty-cell backgammon-col-19" ng-click="pawnSelect(19)">e</td>
		<td class="text-center empty-cell backgammon-col-20" ng-click="pawnSelect(20)">e</td>
		<td class="text-center empty-cell backgammon-col-21" ng-click="pawnSelect(21)">e</td>
		<td class="text-center empty-cell backgammon-col-22" ng-click="pawnSelect(22)">e</td>
		<td class="text-center backgammon-col-23" ng-click="pawnSelect(23)">W</td>
		<td class="board-edge-brown">e</td>
	</tr>

	<tr>
		<td class="board-edge-brown">e</td>
		<td class="text-center backgammon-col-12" ng-click="pawnSelect(12)">W</td>
		<td class="text-center empty-cell backgammon-col-13" ng-click="pawnSelect(13)">e</td>
		<td class="text-center empty-cell backgammon-col-14" ng-click="pawnSelect(14)">e</td>
		<td class="text-center empty-cell backgammon-col-15" ng-click="pawnSelect(15)">e</td>
		<td class="text-center backgammon-col-16" ng-click="pawnSelect(16)">B</td>
		<td class="text-center empty-cell backgammon-col-17" ng-click="pawnSelect(17)">e</td>

		<td class="board-edge-brown">e</td>

		<td class="text-center backgammon-col-18" ng-click="pawnSelect(18)">B</td>
		<td class="text-center empty-cell backgammon-col-19" ng-click="pawnSelect(19)">e</td>
		<td class="text-center empty-cell backgammon-col-20" ng-click="pawnSelect(20)">e</td>
		<td class="text-center empty-cell backgammon-col-21" ng-click="pawnSelect(21)">e</td>
		<td class="text-center empty-cell backgammon-col-22" ng-click="pawnSelect(22)">e</td>
		<td class="text-center empty-cell backgammon-col-23" ng-click="pawnSelect(23)">e</td>
		<td class="board-edge-brown">e</td>
	</tr>

	<tr>
		<td class="board-edge-brown">e</td>
		<td class="text-center backgammon-col-12" ng-click="pawnSelect(12)">W</td>
		<td class="text-center empty-cell backgammon-col-13" ng-click="pawnSelect(13)">e</td>
		<td class="text-center empty-cell backgammon-col-14" ng-click="pawnSelect(14)">e</td>
		<td class="text-center empty-cell backgammon-col-15" ng-click="pawnSelect(15)">e</td>
		<td class="text-center empty-cell backgammon-col-16" ng-click="pawnSelect(16)">e</td>
		<td class="text-center empty-cell backgammon-col-17" ng-click="pawnSelect(17)">e</td>

		<td class="board-edge-brown">e</td>

		<td class="text-center backgammon-col-18" ng-click="pawnSelect(18)">B</td>
		<td class="text-center empty-cell backgammon-col-19" ng-click="pawnSelect(19)">e</td>
		<td class="text-center empty-cell backgammon-col-20" ng-click="pawnSelect(20)">e</td>
		<td class="text-center empty-cell backgammon-col-21" ng-click="pawnSelect(21)">e</td>
		<td class="text-center empty-cell backgammon-col-22" ng-click="pawnSelect(22)">e</td>
		<td class="text-center empty-cell backgammon-col-23" ng-click="pawnSelect(23)">e</td>
		<td class="board-edge-brown">e</td>
	</tr>

	<tr>
		<td class="board-edge-brown">e</td>
		<td class="text-center backgammon-col-12" ng-click="pawnSelect(12)">W</td>
		<td class="text-center empty-cell backgammon-col-13" ng-click="pawnSelect(13)">e</td>
		<td class="text-center empty-cell backgammon-col-14" ng-click="pawnSelect(14)">e</td>
		<td class="text-center empty-cell backgammon-col-15" ng-click="pawnSelect(15)">e</td>
		<td class="text-center empty-cell backgammon-col-16" ng-click="pawnSelect(16)">e</td>
		<td class="text-center empty-cell backgammon-col-17" ng-click="pawnSelect(17)">e</td>

		<td class="board-edge-brown">e</td>

		<td class="text-center backgammon-col-18" ng-click="pawnSelect(18)">B</td>
		<td class="text-center empty-cell backgammon-col-19" ng-click="pawnSelect(19)">e</td>
		<td class="text-center empty-cell backgammon-col-20" ng-click="pawnSelect(20)">e</td>
		<td class="text-center empty-cell backgammon-col-21" ng-click="pawnSelect(21)">e</td>
		<td class="text-center empty-cell backgammon-col-22" ng-click="pawnSelect(22)">e</td>
		<td class="text-center empty-cell backgammon-col-23" ng-click="pawnSelect(23)">e</td>
		<td class="board-edge-brown">e</td>
	</tr>

	<tr>
		<td class="board-edge-brown">e</td>
		<td class="text-center empty-cell middle-cell">e</td>
		<td class="text-center empty-cell middle-cell">e</td>
		<td class="text-center empty-cell middle-cell">e</td>
		<td class="text-center empty-cell middle-cell">e</td>
		<td class="text-center empty-cell middle-cell">e</td>
		<td class="text-center empty-cell middle-cell">e</td>

		<td class="board-edge-brown">e</td>

		<td class="text-center empty-cell middle-cell">e</td>
		<td class="text-center empty-cell middle-cell">e</td>
		<td class="text-center empty-cell middle-cell">e</td>
		<td class="text-center empty-cell middle-cell">e</td>
		<td class="text-center empty-cell middle-cell">e</td>
		<td class="text-center empty-cell middle-cell">e</td>
		<td class="board-edge-brown">e</td>
	</tr>

	<tr>
		<td class="board-edge-brown">e</td>
		<td class="text-center backgammon-col-11" ng-click="pawnSelect(11)">B</td>
		<td class="text-center empty-cell backgammon-col-10" ng-click="pawnSelect(10)">e</td>
		<td class="text-center empty-cell backgammon-col-9" ng-click="pawnSelect(9)">e</td>
		<td class="text-center empty-cell backgammon-col-8" ng-click="pawnSelect(8)">e</td>
		<td class="text-center empty-cell backgammon-col-7" ng-click="pawnSelect(7)">e</td>
		<td class="text-center empty-cell backgammon-col-6" ng-click="pawnSelect(6)">e</td>

		<td class="board-edge-brown">e</td>

		<td class="text-center backgammon-col-5" ng-click="pawnSelect(5)">W</td>
		<td class="text-center empty-cell backgammon-col-4" ng-click="pawnSelect(4)">e</td>
		<td class="text-center empty-cell backgammon-col-3" ng-click="pawnSelect(3)">e</td>
		<td class="text-center empty-cell backgammon-col-2" ng-click="pawnSelect(2)">e</td>
		<td class="text-center empty-cell backgammon-col-1" ng-click="pawnSelect(1)">e</td>
		<td class="text-center empty-cell backgammon-col-0" ng-click="pawnSelect(0)">e</td>
		<td class="board-edge-brown">e</td>
	</tr>

	<tr>
		<td class="board-edge-brown">e</td>
		<td class="text-center backgammon-col-11" ng-click="pawnSelect(11)">B</td>
		<td class="text-center empty-cell backgammon-col-10" ng-click="pawnSelect(10)">e</td>
		<td class="text-center empty-cell backgammon-col-9" ng-click="pawnSelect(9)">e</td>
		<td class="text-center empty-cell backgammon-col-8" ng-click="pawnSelect(8)">e</td>
		<td class="text-center empty-cell backgammon-col-7" ng-click="pawnSelect(7)">e</td>
		<td class="text-center empty-cell backgammon-col-6" ng-click="pawnSelect(6)">e</td>

		<td class="board-edge-brown">e</td>

		<td class="text-center backgammon-col-5" ng-click="pawnSelect(5)">W</td>
		<td class="text-center empty-cell backgammon-col-4" ng-click="pawnSelect(4)">e</td>
		<td class="text-center empty-cell backgammon-col-3" ng-click="pawnSelect(3)">e</td>
		<td class="text-center empty-cell backgammon-col-2" ng-click="pawnSelect(2)">e</td>
		<td class="text-center empty-cell backgammon-col-1" ng-click="pawnSelect(1)">e</td>
		<td class="text-center empty-cell backgammon-col-0" ng-click="pawnSelect(0)">e</td>
		<td class="board-edge-brown">e</td>
	</tr>

	<tr>
		<td class="board-edge-brown">e</td>
		<td class="text-center backgammon-col-11" ng-click="pawnSelect(11)">B</td>
		<td class="text-center empty-cell backgammon-col-10" ng-click="pawnSelect(10)">e</td>
		<td class="text-center empty-cell backgammon-col-9" ng-click="pawnSelect(9)">e</td>
		<td class="text-center empty-cell backgammon-col-8" ng-click="pawnSelect(8)">e</td>
		<td class="text-center backgammon-col-7" ng-click="pawnSelect(7)">W</td>
		<td class="text-center empty-cell backgammon-col-6" ng-click="pawnSelect(6)">e</td>

		<td class="board-edge-brown">e</td>

		<td class="text-center backgammon-col-5" ng-click="pawnSelect(5)">W</td>
		<td class="text-center empty-cell backgammon-col-4" ng-click="pawnSelect(4)">e</td>
		<td class="text-center empty-cell backgammon-col-3" ng-click="pawnSelect(3)">e</td>
		<td class="text-center empty-cell backgammon-col-2" ng-click="pawnSelect(2)">e</td>
		<td class="text-center empty-cell backgammon-col-1" ng-click="pawnSelect(1)">e</td>
		<td class="text-center empty-cell backgammon-col-0" ng-click="pawnSelect(0)">e</td>
		<td class="board-edge-brown">e</td>
	</tr>

	<tr>
		<td class="board-edge-brown">e</td>
		<td class="text-center backgammon-col-11" ng-click="pawnSelect(11)">B</td>
		<td class="text-center empty-cell backgammon-col-10" ng-click="pawnSelect(10)">e</td>
		<td class="text-center empty-cell backgammon-col-9" ng-click="pawnSelect(9)">e</td>
		<td class="text-center empty-cell backgammon-col-8" ng-click="pawnSelect(8)">e</td>
		<td class="text-center backgammon-col-7" ng-click="pawnSelect(7)">W</td>
		<td class="text-center empty-cell backgammon-col-6" ng-click="pawnSelect(6)">e</td>

		<td class="board-edge-brown">e</td>

		<td class="text-center backgammon-col-5" ng-click="pawnSelect(5)">W</td>
		<td class="text-center empty-cell backgammon-col-4" ng-click="pawnSelect(4)">e</td>
		<td class="text-center empty-cell backgammon-col-3" ng-click="pawnSelect(3)">e</td>
		<td class="text-center empty-cell backgammon-col-2" ng-click="pawnSelect(2)">e</td>
		<td class="text-center empty-cell backgammon-col-1" ng-click="pawnSelect(1)">e</td>
		<td class="text-center backgammon-col-0" ng-click="pawnSelect(0)">B</td>
		<td class="board-edge-brown">e</td>
	</tr>

	<tr>
		<td class="board-edge-brown bottom-col-backgammon">e</td>
		<td class="text-center backgammon-col-11 bottom-col-backgammon" ng-click="pawnSelect(11)">B</td>
		<td class="text-center empty-cell backgammon-col-10 bottom-col-backgammon" ng-click="pawnSelect(10)">e</td>
		<td class="text-center empty-cell backgammon-col-9 bottom-col-backgammon" ng-click="pawnSelect(9)">e</td>
		<td class="text-center empty-cell backgammon-col-8 bottom-col-backgammon" ng-click="pawnSelect(8)">e</td>
		<td class="text-center backgammon-col-7 bottom-col-backgammon" ng-click="pawnSelect(7)">W</td>
		<td class="text-center empty-cell backgammon-col-6 bottom-col-backgammon" ng-click="pawnSelect(6)">e</td>

		<td class="board-edge-brown">e</td>

		<td class="text-center backgammon-col-5 bottom-col-backgammon" ng-click="pawnSelect(5)">W</td>
		<td class="text-center empty-cell backgammon-col-4 bottom-col-backgammon" ng-click="pawnSelect(4)">e</td>
		<td class="text-center empty-cell backgammon-col-3 bottom-col-backgammon" ng-click="pawnSelect(3)">e</td>
		<td class="text-center empty-cell backgammon-col-2 bottom-col-backgammon" ng-click="pawnSelect(2)">e</td>
		<td class="text-center empty-cell backgammon-col-1 bottom-col-backgammon" ng-click="pawnSelect(1)">e</td>
		<td class="text-center backgammon-col-0 bottom-col-backgammon" ng-click="pawnSelect(0)">B</td>
		<td class="board-edge-brown">e</td>
	</tr>

	<tr class="board-edge-black"><td colspan="15">test</td></tr>
</table>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<p id="txtFromServer" class="bg-primary">{{messageBlack}}</p>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3">
			<h3><span class="label label-primary backgammon-col--1" style="display:block" ng-click="pawnSelect(-1)">Eaten of black: {{blackEatenNum}}</span></h3>
		</div>

		<div class="col-lg-3">
			<h3><span class="label label-primary" style="display:block" >Eaten of white: {{whiteEatenNum}}</span></h3>
		</div>

		<div class="col-lg-3">
			<h3><span class="label label-primary backgammon-col-24" style="display:block" ng-click="pawnSelect(24)">Outs of black {{blackOutNum}}</span></h3>
		</div>

		<div class="col-lg-3">
			<h3><span class="label label-primary" style="display:block">Outs of white {{whiteOutNum}}</span></h3>
		</div>
	</div>

	<div class="row">
 		<div>&nbsp;</div>
 	</div>

	<div class="row">
		<div class="col-lg-4">
			<button type="button" ng-disabled="disableBlackDice" class="btn btn-success btn-block" ng-click="rollDice()">Roll Dice</button>
		</div>
		<div class="col-lg-4">
			<button type="button" ng-disabled="disableBlackPlayMove" class="btn btn-success btn-block" ng-click="playMove()">Play Move</button>
		</div>

		<div class="col-lg-4">
			<button type="button" ng-disabled="disableBlackCancelMove" class="btn btn-danger btn-block" ng-click="cancelMove()">Cancel Move</button>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<h3><span class="label label-info" style="display:block">From column:{{fromColumn}}</span></h3>
		</div>
		<div class="col-lg-6">
			<h3><span class="label label-info" style="display:block">To column:{{toColumn}}</span></h3>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<button type="button" class="btn btn-info btn-lg btn-block" ng-click="leaveGameRoom()">Go Back To Lobby</button>
		</div>
	</div>

</div>
