		<div class="container-fluid">
			<div class="row center-block ">
				<div class="col-lg-3" style="height=100%">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">System Messages</h3>
						</div>
						<div class="panel-body" style="height:350px">

						</div>
					</div>

					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">Statistics</h3>
						</div>
						<div class="panel-body" style="height:350px">

						</div>
					</div>
				</div>


				<div class="col-lg-6">
					<p id="title" class="text-center text-primary">Lobby</p>
					<div id="avialableRoomsRow" class="row">
						<form id="joinForm" method="POST" action="#" >
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>Room Name</th>
										<th>Open By</th>
										<th>Second Player</th>
										<th>Watchers #</th>
										<th>Join</th>
										<th>Watch</th>
									</tr>
								</thead>
								<tbody ng-model="rooms" ng-repeat="room in rooms">
									<tr>
										<td>{{$index +1}}</td>
										<td>{{room.name}}</td>
										<td>{{room.open_by}}</td>
										<td>{{room.second}}</td>
										<td>{{room.watchers.length}}</td>
										<td><button type="button" class="btn btn-success">Join</button></td>
										<td><button type="button" class="btn btn-primary">Watch</button></td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>

					<div class="row">
							<button id="openNewRoomBtn" type="button" class="btn btn-primary btn-lg btn-block" ng-click="openNewGameRoom()">
								Open New Game Room
							</button>
					</div>
				</div>

				<div class="col-lg-3" style="height=100%">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">Users In Lobby</h3>
						</div>
						<div class="panel-body" style="height:350px;overflow-y: scroll">
							<div ng-model="users" ng-repeat="user in users">
								<p class="alert alert-info" role="alert">{{user}}</p>
							</div>

						</div>
					</div>

					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">Chat</h3>
						</div>
						<div class="panel-body" style="height:350px;overflow-y: scroll">

						</div>
					</div>
				</div>
			</div>
		</div>
