		<div class="container-fluid">
			<div class="row center-block ">
				<div class="col-lg-3" style="height=100%">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">System Messages</h3>
						</div>
						<div class="panel-body" style="height:350px">

						</div>
					</div>

					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">Statistics</h3>
						</div>
						<div class="panel-body" style="height:350px">

						</div>
					</div>
				</div>


				<div class="col-lg-6">
					<p id="title" class="text-center text-primary">Lobby</p>
					<div id="avialableRoomsRow" class="row">
						<form id="joinForm" method="POST" action="#" >
							<table class="table" style="border-right-style:none;border-left-style:none;">
								<thead>
									<tr>
										<th><h3><span class="label label-default">#</span></h3></th>
										<th><h3><span class="label label-default">Room Name</span></h3></th>
										<th><h3><span class="label label-default">Open By</span></h3></th>
										<th><h3><span class="label label-default">Second Player</span></h3></th>
										<th><h3><span class="label label-default">Watchers #</span></h3></th>
										<th><h3><span class="label label-default">Select</span></h3></th>
									</tr>
								</thead>
								<tbody ng-model="rooms" ng-repeat="room in rooms">
									<tr ng-class="{info: {{room.name}}}" ng-mouseenter="highlightGameRoom(room.name)" ng-mouseleave="cancelHighlightGameRoom(room.name)">
										<td><h3><span class="label label-default">{{$index +1}}</span></h3></td>
										<td><h4>{{room.name}}</h4></td>
										<td><h4>{{room.openBy}}</h4></td>
										<td><h4>{{room.secondPlayer}}</h4></td>
										<td><h4>{{room.watchers.length}}</h4></td>
										<td><button type="button" class="btn btn-info btn-lg btn-block" ng-click="selectGameRoom(room.name)" ng-hide="btn{{room.name}}">{{select}}</button></td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>

					<div class="row">
						<div style="margin: 5px" class="alert alert-danger" ng-show="register_error">
								{{register_error}}
						</div>
					</div>

					<div class="row">
						<div ng-hide="isMadeSelection">
							<button id="openNewRoomBtn" type="button" class="btn btn-primary btn-lg btn-block" ng-hide="isOpenRoom" ng-click="openNewGameRoom()">
								Open New Game Room
							</button>
						</div>

						<div ng-show="isMadeSelection">
								<div class="col-lg-6">
									<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="joinGame()">Join</button>
								</div>
								<div class="col-lg-6">
									<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="watchGame()">Watch</button>
								</div>
						</div>
					</div>


				</div>

				<div class="col-lg-3" style="height=100%">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">Users In Lobby</h3>
						</div>
						<div class="panel-body" style="height:350px;overflow-y: scroll">
							<div ng-model="users" ng-repeat="user in users">
								<p class="alert alert-info" role="alert">{{user}}</p>
							</div>

						</div>
					</div>

					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">Chat</h3>
						</div>
						<div class="panel-body" style="height:350px;overflow-y: scroll">

						</div>
					</div>
				</div>
			</div>
		</div>
